{
  "presets": [
    "@babel/modules",
    ["@babel/preset-typescript", {
      "allowDeclareFields": true
    }],
    ["@babel/react", {
      "useSpread": true
    }]
  ],
  "plugins": [
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-optional-chaining",
    "@babel/proposal-class-properties",
    "@babel/syntax-dynamic-import",
    "@babel/transform-runtime",
    "styled-components",
    "polished",
    "lodash",
    "react-hot-loader/babel"
  ]
}
